.answers-subtraction {
    margin: 10px;
    width: auto;
    display: grid;
    grid-template-rows: 100px;
    grid-template-columns: 300px 300px 300px;
    justify-content: space-evenly;

    .answer {
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgb(4, 5, 39);
        font-size: 30px;
        background-color: #ffbb33;
        max-width: 200px;
        border: 1px solid azure;
        padding: 20px;

        &:hover {
            background-color: #cc8800;
            cursor: pointer;
        }

        &.correct {
            &:active {
                background-color: green;
            }
        }

        &.incorrect {
            &:active {
                background-color: red;
            }
        }
      }
}