.button-group-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 500px;

    .button-content {
        font-size: 20px;
        color: azure;
        background-color: rgb(199, 91, 115);
        border: 1px solid azure;
        width: 200px;
        height: 180px;

        &:hover {
            cursor: pointer;
            background-color: rgb(114, 52, 65);
        }
    }
}
