.title {
    font-size: x-large;
    color: azure;
    margin-bottom: 20px;
}

.problem {
    width: 1200px;
    padding-top: 30px;
    border-top: 1px solid azure;
}

.addition {
    display: inline-flex;
    align-items: center;
    font-size: xx-large;
    color: azure;

    svg {
        font-size: xxx-large;
        color: gold;
    }

    .answers-addition {
        margin: 10px;
        width: auto;
        display: grid;
        grid-template-rows: 50px;
        grid-template-columns: 70px 70px 70px;
        justify-content: space-evenly;

        .answer-addition {
            display: flex;
            align-items: center;
            justify-content: center;
            color: rgb(4, 5, 39);
            font-size: 30px;
            background-color: #ffbb33;
            max-width: 70px;
            border: 1px solid azure;
            padding: 20px;
            margin: 10px;

            &:hover {
                background-color: #cc8800;
                cursor: pointer;
            }
        }
    }
}

.subtraction {
    display: inline-flex;
    align-items: center;
    font-size: xx-large;
    color: azure;

    svg {
        font-size: xxx-large;
        color: palevioletred;
    }

    .answers-subtraction {
        margin: 10px;
        width: auto;
        display: grid;
        grid-template-rows: 50px;
        grid-template-columns: 70px 70px 70px;
        justify-content: space-evenly;

        .answer-subtraction {
            display: flex;
            align-items: center;
            justify-content: center;
            color: rgb(4, 5, 39);
            font-size: 30px;
            background-color: #ffbb33;
            max-width: 70px;
            border: 1px solid azure;
            padding: 20px;
            margin: 10px;

            &:hover {
                background-color: #cc8800;
                cursor: pointer;
            }
        }
    }
}

.predecessor {
    display: inline-flex;
    align-items: center;
    font-size: xx-large;
    color: azure;

    svg {
        font-size: xxx-large;
        color: orangered;
    }

    .emoji {
        display: inline-flex;
        align-items: center;
        font-size: xx-large;
        color: azure;
    }

    .answers-emoji {
        .answer-emoji {
            height: 48px;
            width: 48px;
            display: inline-flex;

            svg {
                align-self: center;
                justify-self: center;

                &:hover {
                    color: brown;
                    cursor: pointer;
                }

                &:active {
                    pointer-events: none;
                }
            }
        }
    }
}
