.numbers {
    margin: 10px;
    width: auto;
    display: grid;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 300px 300px 300px;

    .number {
        display: flex;
        align-items: center;
        justify-content: center;
        color: azure;
        font-size: 30px;
      }
}

.description {
    font-size: x-large;
    color: azure;
    margin: 10px
}

.hearing-icon {
    margin: 20px;
    color: #ffbb33;

    &:hover {
        cursor: pointer;
        color: #cc8800;
    }
}