.description {
    font-size: xx-large;
    color: azure;
    margin: 40px;
    max-width: 800px;
}

.hearing-icon {
    margin: 20px;
    color: rgb(199, 91, 115);

    &:hover {
        cursor: pointer;
        color: rgb(114, 52, 65);
    }
}
