.description {
    font-size: xx-large;
    color: azure;
    margin: 40px;
    max-width: 800px;
}

.hearing-icon {
    margin: 20px;
    color: #ffbb33;

    &:hover {
        cursor: pointer;
        color: #cc8800;
    }
}
